<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @geodatum.id %>
</p>

<p>
  <strong>Ark:</strong>
  <%= @geodatum.ark %>
</p>

<p>
  <strong>Image:</strong>
  <%= @geodatum.image_id %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @geodatum.guid %>
</p>

<p>
  <strong>Bib:</strong>
  <%= @geodatum.bib_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @geodatum.type %>
</p>

<p>
  <strong>File list:</strong>
  <%= @geodatum.file_list %>
</p>

<p>
  <strong>Solr doc created:</strong>
  <%= @geodatum.solr_doc_created %>
</p>

<p>
  <strong>Solr doc source:</strong>
  <%= @geodatum.solr_doc_source %>
</p>

<p>
  <strong>Bbox:</strong>
  <%= @geodatum.bbox %>
</p>

<p>
  <strong>Bbox source:</strong>
  <%= @geodatum.bbox_source %>
</p>

<p>
  <strong>Ingest geoserver:</strong>
  <%= @geodatum.ingest_geoserver %>
</p>

<p>
  <strong>Ingest solr:</strong>
  <%= @geodatum.ingest_solr %>
</p>

<p>
  <strong>Ingest loris:</strong>
  <%= @geodatum.ingest_loris %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @geodatum.copyright %>
</p>

<p>
  <strong>Access:</strong>
  <%= @geodatum.access %>
</p>

<p>
  <strong>Title:</strong>
  <%= @geodatum.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @geodatum.publisher %>
</p>

<p>
  <strong>Author:</strong>
  <%= @geodatum.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @geodatum.description %>
</p>

<p>
  <strong>Pub info:</strong>
  <%= @geodatum.pub_info %>
</p>

<p>
  <strong>Year:</strong>
  <%= @geodatum.year %>
</p>

<%= link_to 'Edit', edit_geodatum_path(@geodatum) %> |
<%= link_to 'Back', geodata_path %>
