<div class="row">
  <div class="col-lg-6 col-lg-offset-3">  
    
    <h1>Image: <%= @image.ark %></h1>
    <hr>  
    <%= bootstrap_form_for(@image, layout: :horizontal) do |f| %>
      <%= f.static_control :ark, label: "ARK" %>
      <%= f.static_control :bib_id, control_col: "col-sm-3", label: "BibID"  %>
      <%= f.static_control :image_id, control_col: "col-sm-3", label: "ImageID" %>
      <%= f.static_control :copyright %>
      <%= f.static_control :access %>
      <%= f.static_control :title %>
      <%= f.static_control :publisher %>
      <%= f.static_control :pub_info, label: "Pub Info" %>
      <%= f.static_control :pub_date, label: "Pub Date" %>
      <%= f.static_control :author %>
      <%= f.static_control :description %>
      <% if @image.bbox != nil && @image.bbox != '' %>
        <%= f.static_control :bbox, label: "BBOX (W,S,E,N)" %>
      <% end %>
      <%= f.static_control label: "Item URL" do %>
        <%= link_to @image.item_url, @image.item_url  %>
      <% end %>
      <hr>
      <%= link_to('Back', images_path, :class => 'btn btn-primary active', :role => "button")%>
      <% if can? :update, @image %>
        <%= link_to('Edit', edit_image_path(@image), :class => 'btn btn-warning active', :role => "button")%>
        <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?' }, :role => "button", :class => 'btn btn-danger active' %>
      <% end %>
    <% end %>
  </div>
</div>
